<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Personal Page</title>
<meta charset="ISO-8859-1">
<link href="static/public/css/style.css" rel="stylesheet" th:href="@{static/public/css/style.css}"  type="text/css"/>
</head>
<body>
<div id="header_container">
  <div id="header"> <a href=" "><img src="static/public/img/logo.gif" alt="Total Management" title="Total Management" border="0" /></a>
    <ul>
      <li><a>Home</a> </li>
      <li><a>Whats new</a></li>
      <li><a>Forum</a></li>
      <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      <li class="contact"><a>Contact</a></li>
    </ul>
    <h1>Learn, apply, evolve</h1>
  </div>
</div>
<div id="body1">
</div>
<div id="bodymiddlePan">
  <h2>Learn on your own</h2>
  
  <p class="lasttext"> Organizational Learning supports the learning and development of all College employees through various learning sessions, workshops, programs, conferences, activities and one-on-one support. The Employee Learning platform and registration system allows all employees to easily access a variety of learning opportunities: virtual synchronous, self-directed, self-paced, and just-in-time.</p>
</div>
<div id="bodyBottomPan">
  <div id="Search">
    <h2>Search Courses</h2>
    <p>Search for new learning materials</p>
    <p class="view"><a href="">view</a></p>
  </div>
  <div id="History">
    <h2>Your learning history</h2>
    <p>See your progress</p>
    <p class="view"><a href="">view</a></p>
  </div>
  <div id="Courses">
    <h2>Assigned courses</h2>
    <p>See the courses assigned to you and their deadlines</p>
    <p class="view"><a href=" ">view</a></p>
  </div>
</div>
<div id="footermainPan">
  <div id="footerPan">
    <div id="footerlogoPan"><a><img src="static/public/img/footerlogo.gif" title="Total Management" alt="Total Management" width="290" height="36" border="0" /></a></div>
    <ul>
      <li><a>Home</a>| </li>
      <li><a>About</a> | </li>
      <li><a>Whats new</a>| </li>
      <li><a>Forum</a> | </li>
      <li><a>Solution</a> |</li>
      <li><a>Contact</a> </li>
    </ul>
  </div>
</div>
</body>
</html>
